@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.newMessage{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 30%, rgba(127, 255, 212, 1) 50%, rgba(255, 255, 255, 1) 70%);

}
.shake{
  animation:shake .5s infinite;
}
@keyframes shake {
  25%{transform: translateX(4px)}
  50%{transform: translateX(-4px)}
  75%{transform: translateX(4px)}
}
.fadeup {
  position:relative;  
  animation:animatebottom 0.8s 
  }
  
  @keyframes animatebottom{
  from{
  bottom:-700px;opacity:0} 
  to{bottom:0;opacity:1}
  }
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
} */

input:checked {
  border: none;
  outline: 2px solid deeppink;
  
}